body {
	background-color: rgb(250, 255, 255);
}

header {
	background-color: #1b2127;
	color: white;
}

h1 {
	font-family: "Oswald", sans-serif;
	background-color: #96ccd3;
	padding: 10px;
	font-size: 50px;
}

h2 {
	font-family: "Roboto", sans-serif;
	font-size: 40px;
}

p {
	font-family: "Heebo", sans-serif;
	font-size: 30px;
}

a {
	background-color: rgb(173, 179, 241);
}

footer {
	background-color: #1b2127;
	color: white;
}

.hero {
	background-color: #db5252;
}

.hero-image{
	background-color: white;
	padding: 10px;
}

.container {
	display: flex;
	align-items: center;
}	